[Unit]
Description=Eventide H9 Control UI
After=seatd.service user-runtime-dir@1000.service dev-dri-card0.device network.target
Wants=seatd.service user-runtime-dir@1000.service dev-dri-card0.device
#Conflicts=zynthian.service zynthian-webconf.service 
#jack2.service

[Service]
Type=simple
User=__INSTALL_USER__
WorkingDirectory=__PROJECT_DIR__
# Ensure we have a runtime directory for Wayland
Environment=XDG_RUNTIME_DIR=/run/user/__INSTALL_UID__
Environment="WLR_RENDERER_ALLOW_SOFTWARE=1"
# Wait 5 seconds for display to fully initialize
#ExecStartPre=/bin/sleep 5
# Start labwc (Wayland compositor) and have it run our startup script
ExecStart=/usr/bin/labwc -s __PROJECT_DIR__/linux/start-app.sh
Restart=always
RestartSec=10

[Install]
WantedBy=graphical.target
